.articles{
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1rem;
  position: relative;
  scroll-behavior: smooth;
}

.selected{
  transform: rotate(2deg);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.3);
}