.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container > * {
  transition: all 500ms ease-in-out ;
}

.navigation{ 
  width: 30%;
  height: 100%;
  flex-grow: 0;
}

.visualisation{
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}



.articles {
  width: 40%;
  background-color: var(--secondary);
  overflow-y: scroll;
  border-left: var(--black) var(--borderWidth) solid;
}

.aside{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border-left: solid var(--black) var(--borderWidth);
  flex-grow: 0;
  width: 50%;
  height: 100%;
  background: var(--white);
  transform: translateX(100%);
  right: 0;
}

.asideActive{  
  transform: translateX(0%);
}


@media (--screen-md) {
  .layout {
    flex-direction: column;
    width: 100%;
  }

  .menu {
    position: static;
    width: 100%;
  }

  .content {
    width: 100%;
    min-height: calc(100vh - 170px);
  }

}