.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container > * {
  transition: all 500ms ease-in-out ;
}

.navigation{ 
  width: 30%;
  height: 100%;
}

.visualisation{
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}



.articles {
  width: 40%;
  background-color: var(--secondary);
  overflow-y: scroll;
  border-left: var(--black) var(--borderWidth) solid;
}

.aside{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border-left: solid var(--black) var(--borderWidth);
  flex-grow: 0;
  width: 50%;
  height: 100%;
  background: var(--white);
  transform: translateX(100%);
  right: 0;
}

.asideActive{  
  transform: translateX(0%);
}


@media (--screen-md) {
  .navigation {
      position: fixed !important;
      z-index: 10;
      width: 100%;
  } .hidden {
    height: 5rem;
    overflow: hidden;
  }
  .visualisation {
    padding-top: 5rem;
    width: 60%;
  }
  .articles {
    position: relative;
    padding-top: 5rem;
    width: 40%;
  }

  .aside {
    border-top: solid var(--black) var(--borderWidth);
    flex-grow: 0;
    width: 100%;
    height: calc(100% - 5rem);
    transform: translateY(100%);
    bottom: 0;
  }
  .asideActive {
    transform: translateY(0%);
  }
}