.article{
  overflow-y: scroll;
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cover {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-bottom: solid var(--font-color) var(--borderWidth);
}

.infos, .content, .related{
  padding: 1rem 2rem;
}
.infos:first-child{
  padding-top: 3rem;
}

.related{
  border-top: solid var(--font-color) var(--borderWidth);}
.related > ul {
  margin: 1rem -1rem;
}
.subtitle{
  padding: 0 0 0.5rem 0;
}

.back {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border: solid var(--font-color) var(--borderWidth);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--fontSize-xl);
  cursor: pointer;
  transition: ease-in-out 0.2s;
  z-index: 100;
  background: var(--white);
}

.date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border: solid var(--black) var(--borderWidth);
}
