.articles{
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1rem;
}

.selected{
  transform: translateY(-1px);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 1);
}