.card {
  border: var(--black) var(--borderWidth) solid;
  background: var(--white);
  position: relative;
  max-height: 400px;
  width: 100%;
  /* cursor: pointer; */
  display: flex;
  background: var(--white);
  flex-direction: column;
  align-content: center;
  transition: transform 100ms ease-in-out;
}
.card:hover{
  transform: translateY(-1px);
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
}

.title {
  text-transform: uppercase;
  color: var(--black);
  width: auto;
  font-size: var(--fontSize-lg);
}
.title, .link, .subtitle, .description, .tags {
  padding: 0.5rem 1rem 0;
  margin-top: 0;
}

.title:first-child, .link:first-child {
  max-width: 70%;
  margin-top: 0.5rem;
}

.card > div:last-child {
  padding-bottom: 1rem;
}

.link{
  font-size: var(--fontSize-sm);
  font-weight: thin;
}


.description {
  padding: 0.25rem 0.5rem;
  max-width: 30%;
  background: var(--white);
  font-weight: 400;
  overflow: hidden;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  font-size: var(--fontSize-sm);
  text-overflow: ellipsis;
  border: var(--black) var(--borderWidth) solid;
  white-space: nowrap;
}

.image {
  object-fit: cover;
  border-bottom: var(--primary) var(--borderWidth) solid;
  max-height: 200px;
  flex-grow: 1;
}

.subtitle{
  text-transform: capitalize;
  color: var(--black);
  width: auto;
  font-size: var(--font-sm);
}