@import "normalize.css/normalize.css";
html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  box-sizing: border-box;
  font-weight: 400;
  color: var(--font-color);
  font-size: var(--fontSize-base);
  background: var(--bg-color);
}

li {
  list-style: none;
  position: relative;
}

li:before {
  content: "";
  display: block;
  right: calc(100% + 0.5rem);
  top: 0.7em;
  position: absolute;
  height: 1px;
  width: 0.5rem;
  background-color: var(--font-color);
}

.link {
  display: inline;
  color: inherit;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  height: var(--borderWidth);
  width: 100%;
  background-color: var(--font-color);
  transition: ease-in-out 0.2s;
}

.link:hover::after {
  width: 0%;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  font-weight: 700;
  margin-top: 1rem;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  object-fit: cover;
  transition: ease-in-out 0.2s;
}