@import "normalize.css/normalize.css";
@import "tabs.css";

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  box-sizing: border-box;
  font-weight: 400;
  color: var(--font-color);
  font-size: var(--fontSize-base);
  background: var(--bg-color);
  line-height: 1.4;
}
p, li, blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;

}

li {
  list-style: none;
  position: relative;
}

li:before {
  content: "";
  display: block;
  right: calc(100% + 0.5rem);
  top: 0.7em;
  position: absolute;
  height: 1px;
  width: 0.5rem;
  background-color: var(--font-color);
}
hr{
  border-top: 1px;
}


blockquote{
  padding: 1rem 0 1rem 1rem;
  border-left: var(--black) solid var(--borderWidth);
  font-style: italic;
}

.link {
  display: inline;
  color: inherit;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  height: var(--borderWidth);
  width: 100%;
  background-color: var(--font-color);
  transition: ease-in-out 0.2s;
}

.link:hover::after {
  width: 0%;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  font-weight: 700;
  margin-top: 1rem;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  object-fit: cover;
  transition: ease-in-out 0.2s;
}


.tooltip{
    border: var(--black) var(--borderWidth) solid;
    padding: 0.5rem;
    background: var(--white);
    display: flex;
    background: var(--white);
    flex-direction: column;
    align-content: center;
    overflow: hidden;
    border-radius: var(--borderRadius-md);
    font-size: var(--fontSize-sm);
}

.tooltip>* {
  margin: 0;
  padding: 0;
}