.container {
  padding: 0 20px 4rem 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
  position: relative;
  min-height: 97vh;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title, .socials svg, .socials span {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  margin: 0;
}

.title:hover, .socials span:hover svg {
  transform: translateY(-0.5rem);
}

.socials {
  display: flex;
  flex-direction: row;
}

.socials span:not(:first-child) {
  margin-left: 0.5rem;
}

.footer {
  text-align: center;
  opacity: 0.9;
  margin: 1rem 0;
  font-size: var(--fontSize-sm);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}