.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.article{
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: solid var(--black) var(--borderWidth);
}