.resources{
  display: flex;
  flex-direction: row;
}

.articles {
  background-color: var(--amber-100);
  overflow-y: scroll;
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding: 1rem;
  flex-grow: 1;
  border-left: var(--black) var(--borderWidth) solid;
}


.item {
  width: 100%;
  position: relative;
  list-style: none;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.item::before {
  display: none;
}

.item:hover {
  transform: translateY(-0.5rem);
}

.itemTitle {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.2rem;
}

.itemImage {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 0.5rem;
}

.itemStatus {
  background-color: var(--lightBlue-200);
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 500rem;
  font-weight: 400;
  font-size: var(--fontSize-sm);
  text-transform: lowercase;
  color: var(--black);
}

.itemStatus[status=Finished] {
  background-color: var(--yellow-200);
}

.itemStatus[status="In progress"] {
  background-color: var(--red-200);
}

.itemStatus[status="Idea"] {
  background-color: var(--lightBlue-200);
}