.tags {
  display: block;
}

.tags>*:not(:last-child) {
  margin-right: 0.25rem;
}

.tag {
  padding: 0.25rem 0.5rem;
  font-weight: 800;
  background-color: var(--gray-200);
  display: inline-block;
  font-size: var(--fontSize-xs);
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  font-family: var(--font-mono);
  border-radius: 0.25rem;
}