.themeSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background: var(--font-color);
    color: var(--bg-color);
    border-radius: 2rem;
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    box-shadow: var(--boxShadow-xl);
    z-index: 100;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.themeSwitch:hover {
    background: var(--bg-color);
    color: var(--font-color);
}

@media screen and (max-width: calc(700px + 2 * 3.5rem)) {
    .themeSwitch {
        top: auto;
        bottom: 0.5rem;
        right: 0.5rem;
    }
}