.cover {
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 1rem;
}

.back {
  position: absolute;
  top: 0.5rem;
  left: -3rem;
  height: 3rem;
  width: 3rem;
  border: solid var(--font-color) var(--borderWidth-lg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 500rem;
  font-size: var(--fontSize-xl);
  cursor: pointer;
  transition: ease-in-out 0.2s;
  box-shadow: var(--boxShadow-xl);
  z-index: 100;
}

@media screen and (max-width: calc(700px + 2 * 3.5rem)) {
  .back {
    top: auto;
    bottom: 0.5rem;
    left: 0.5rem;
  }
}

.back:hover {
  transform: translateY(-0.5rem);
  box-shadow: var(--boxShadow-2xl);
}

.infos {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem 0.5rem;
  grid-template-areas: "title title date" "documentation tags tags";
}

.category {
  font-weight: 200;
  margin-left: 1rem;
  text-transform: lowercase;
  font-size: var(--fontSize-sm);
}

@media screen and (max-width: 700px) {
  .infos {
    display: flex;
    flex-direction: column;
  }
  .infos div {
    margin-top: 0.5rem;
    justify-content: flex-start;
  }
}

.title {
  grid-area: title;
}

.date {
  grid-area: date;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status {
  background-color: var(--lightBlue-200);
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 500rem;
  font-size: var(--fontSize-sm);
  text-transform: lowercase;
  color: var(--black);
}

.documentation {
  grid-area: documentation;
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.tags {
  grid-area: tags;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tags span {
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 500rem;
  font-size: var(--fontSize-sm);
  text-transform: lowercase;
  align-items: flex-start;
  color: var(--black);
}

.tags span:nth-child(1) {
  margin-left: 0;
  background-color: var(--red-200);
}

.tags span:nth-child(2) {
  background-color: var(--cyan-200);
}

.tags span:nth-child(3) {
  background-color: var(--orange-200);
}

.tags span:nth-child(4) {
  background-color: var(--amber-200);
}

.tags span:nth-child(5) {
  background-color: var(--yellow-200);
}

.tags span:nth-child(6) {
  background-color: var(--blue-200);
}

.tags span:nth-child(7) {
  background-color: var(--violet-200);
}